<div>{{date}}</div>
<div>{{date|date}}</div>
<div>{{date|date: 'short'}}</div>
<div>{{date|date: 'medium'}}</div>
<div>{{date|date: 'long'}}</div>
<div>{{date|date: 'shortTime'}}</div>
<div>{{date|date: 'mediumTime'}}</div>
<div>{{date|date: 'longTime'}}</div>
<div>{{date|date: 'shortDate'}}</div>
<div>{{date|date: 'mediumDate'}}</div>
<div>{{date|date: 'longDate'}}</div>

<div>{{mystring| uppercase}}</div>
<div>{{mystring2| lowercase}}</div>
<div>{{price| currency: 'PHP'}}</div>
<div>{{mathematician| number: '1.1-4'}}</div>
<div>{{x| percent: '1.1-2'}}</div>


<div>{{mytitle| pipe : 2}}</div><p>pipe works!</p>
