<form [formGroup]="learnerForm"(ngSubmit)="submit()">
  <div class="form-group">
    <label for="name">Name</label>
    <input formControlName="name" type="text" id="name" class="form-control">
    <div *ngIf="name?.errors?.['minlength']" class="alert alert-danger">Minimum Length: 2</div>
  </div>
  <div class="form-group">
    <label for="nickname">Nickname</label>
    <input formControlName="nickname" type="text" id="nickname" class="form-control" required>
  </div>
  <div formGroupName="address">
    <label for="bldgNo">Building Number</label>
    <input formControlName="bldgNo" type="text" id="bldgNo" class="form-control" required>

    <label for="street">Street</label>
    <input formControlName="street" type="text" id="street" class="form-control" required>
  </div>


  <ng-container formArrayName="favoriteFoods">
    <label for="favoriteFoods">Favorite Foods</label>
    <div *ngFor="let _ of ff.controls; index as i" class="input-group mb-3">
      <input [formControlName]="i" class="form-control">
      <button type="button" class="btn btn-danger" (click)="deleteFavorite(i)">Delete</button>
      
    </div>
    <button class="btn btn-info" (click)="addFavorite()">Add Favorite</button>
  </ng-container>

  <button type="submit" class="btn btn-success">Submit</button>
  <!-- <button type="button"  class="btn btn-info" (click)="reset()">Reset</button>
  <button type="button"  class="btn btn-info" (click)="markNickName()">Reset Nickname</button> -->
</form>